/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'ArcadeClassic';
    src: url('../assets/fonts//ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  